<div class="container p-3 mt-3" data-controller="howdiditgo">

  <h1 class="text-white mb-5 text-center fw-light">  <%= image_tag 'Star 2.svg' %>  meeting</h1>


  <h1 class="text-white fw-light fs-2 mb-4 text-start">how did it go?</h1>
<div class="d-flex gap-3 p-3 mb-5 rounded-5 face-buttons ">

  <button class="btn flex-grow-1 rounded-3" data-action="click->howdiditgo#togglecard"> <i class="fa-regular fa-face-smile text-success face"></i></button>
  <button class="btn flex-grow-1 rounded-3"> <i class="fa-regular fa-face-meh face text-white"></i></button>
  <button class="btn flex-grow-1 rounded-3"><i class="fa-regular fa-face-frown text-danger face"></i></button>
</div>

<div class="card d-flex bg-success rounded-5 d-none"  data-howdiditgo-target="card">
  <h4 class="mb-4">See you again soon</h4>
   <i class="fa-regular fa-face-smile-wink card-icon text-center "></i>
</div>
</div>
