// Define variables for your color scheme

// For example:
$red: #FF4365; // Pink /Red
$blue: #371F7D; // Purple
$yellow: #BC96FF; // Violet
$orange: #602BFF; // Indego
$green: #D7FF81; // Green
$gray: #522E99; // Form purple
$light-gray: #F4F4F4;
