<div class="landing-bg vh-100">
<div class="container p-3 mt-3">

<div class="d-flex vh-100 align-items-center">
<%= link_to pages_path do %>
  <%= image_tag "Group 74.svg", class: "main-logo" %>
<% end %>
</div>

<%#

 <div class="modal-body p-4 mt-5 text-white fs-4">
        <div class="chat-box  modal-box d-flex px-2 justify-content-center ">
          <p class="me-4 pt-4 pb-3 content-width fw-light">we are here to chat anytime</p>
          <i class="fa-regular fa-message fs-2 pt-4 mt-4 pb-3"></i>

        </div>
        <div class="load-box modal-box d-flex px-2 justify-content-center">
          <div class="d-flex justify-content-center align-items-center">
             <i class="fa-solid fa-spinner fs-1"></i>
          </div>

            <p class="ms-4 pt-4 pb-3 content-width fw-light">load app during your meeting</p>
        </div>
        <div class="call-box modal-box d-flex px-2 justify-content-center">

          <p class="me-4 pt-4 pb-3 content-width fw-light">recieve a fake call</p>
          <div class="d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-phone-volume fs-2"></i>
          </div>
        </div>
        <div class="have-fun-box d-flex px-2 justify-content-center">
                    <i class="fa-regular fa-face-smile-wink fs-1 pt-4 pb-3"></i>
          <p class="ms-4 pt-4 pb-3 content-width fw-light">have fun</p>

        </div>
      </div> %>

</div>
