  <div class="navbar d-flex justify-content-around bg-warning text-primary">
     <%= link_to pages_path do%>
    <div class=""> <i class="fa-solid fa-house fs-4"></i> </div>
    <% end %>
    <div  class=""><i class="fa-solid fa-phone fs-4"></i></div>
    <div  class=""><i class="fa-regular fa-message fs-4"></i></div>
    <div  class=""><i class="fa-solid fa-gear fs-4"></i></div>
  </div>
x
