.face {
  font-size: 48px;
}
.card {

  padding: 60px;
}

.face-buttons {
  background-color: $gray;
}

.visible {
  display: block;
  transition: 1200ms;
}

.card-icon {
  font-size: 48px;
}

#display-card {
  display: none;
}

.heading {
  text-shadow: 0 0 2px black;
}
