.countdown {
  font-size: 60px;
  color: $green;
  text-align: center;
}

#need-more-time {
  background-color: $primary;
  color: $green;

}

.plus {
  color: $green;
  border: 2px solid $green;
  border-radius: 50%;
  transform: translate(60px, -3px );
}

.extend {
  margin: 0;
  transform: translate(98px, 105px) rotate(-60deg);
}
a {
  text-decoration: none;
}

.map {
  overflow: hidden;
  background-image: url("https://www.mapsinternational.co.uk/pub/media/catalog/product/x/l/o/london-city-street-map-print-charcoal_ls01554.jpg");
  background-position: top;
  background-repeat: no-repeat;
  height: 250px;
}

.meeting-btn {
  min-width: 100px;
  height: 86px;
  border-radius: 25px;
  box-shadow: 0px 0px 16px rgba(35, 35, 35, 0.2);
}

.text {
  font-size: 16px;
}

.grid {
  background: $gray;
  border-radius: 20px;
}

.friend_name {
  font-size: 14px;
}

.fifteen-btn {
  height: 95px;
  width: 95px;
  border-radius: 50%;
}

.need-time {
  transform: translate(140px,-80px) rotate(10deg);
}

.plus-icon {
  font-size: 14px;
}
