<%# the styling for this page is inside _home.scss %>

<div class="container">
  <div class="home-square-button-grid">
    <button class="home-square-button">Button 1</button>
    <button class="home-square-button">Button 2</button>
    <button class="home-square-button">Button 3</button>
    <button class="home-square-button">Button 4</button>
  </div>

  <h1>Article 1</h1>
  <div class="article">
    <div class="article-content">
      <img src="placeholder.png" alt="Placeholder Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <button class="button">Click me!</button>
  </div>

  <h1>Article 2</h1>
  <div class="article">
    <div class="article-content">
      <img src="placeholder.png" alt="Placeholder Image">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
    </div>
    <button class="button">Click me!</button>
  </div>

</div>
