.heading {
  position: sticky;

}
.meeting-chat-message {
  color: white;
  background-color: $info;
  padding: 24px;
  margin-bottom: 8px;
  border-radius: 30px;
  text-align: end;
  box-shadow: 0px 0px 10px rgba(256,256,256,0.5);
  .msg-info {
    color: rgba(256,256,256,0.5);
  }
}

.meeting-chat-message[data-user-email="chaperone@chaperone.com"] {
  background-color: $success;
  padding: 24px;
  color: black; /* Example styling for special users */
  text-align: start;
  box-shadow: 0px 0px 6px rgba(256,256,256,0.3);
  .msg-info {
    color: rgba(0,0,0,0.5);
  }
  .msg-time {
    text-align: end;
  }
}

.chat {
  height: 730px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .messages {
    max-height: 675px;
    overflow: scroll;
  }
}

.rounded-box {
  border-radius: 30px;
}
