.form-control {
  background-color: $gray;
  color: white;
  transition: 500ms;
}

.form-control:focus {
  background-color: $yellow;
  color: black;
  transition: 500ms;
  box-shadow: 0px 0px 10px rgba(256,256,256,0.5);
}

.form-control, .form-submit {
  height: 80px;
  padding-left: 30px;
  padding-top: 12px;
}

.form-group {
  position: relative;
}

.form-label {
  color: #e3e3e3;
  font-size: 14px;
  text-transform: lowercase;
  position: absolute;
  top: 0px;
  left: 25px;
  padding: 0.25rem; /* Adjust padding as needed */
}

.share-friends {
  background-color: $gray;
  border-radius: 40px;
  padding: 16px;
  margin-bottom: 1em;

}

.default-icon {
  box-shadow: 0px 0px 10px $green;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  justify-items: center;
  align-items: center;
  width: 100%;
  padding:24px 0px 12px 0px;
}


input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  display: none;
}


.control {
  box-shadow: 0px 0px 10px rgba(256,256,256,0.5);
}
