.modal-box {
  border-bottom: 1px solid white;
}

.custom-model-border {
  border-bottom: none;
}

.footer-border {
  border-top:none;
}

.content-width {
  max-width: 170px;
}

.main-logo {
  transform: translate(-10px, -30px);
}

.landing-bg {
  background-color: $primary;
  padding: 0px;
  margin: 0px;
}
