// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "meetings/index";

// link to mapbox
@import url("https://api.mapbox.com/mapbox-gl-js/v3.1.2/mapbox-gl.css");


body {
  background-image: url(index.svg);

  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

@media (min-width: 430px) {
  .container {
    max-width: 415px; /* Change this value as needed */
  }
}
